@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  color: rgba(255, 255, 255, 0.8705882353);
  background-color: #191919;
  background-image: linear-gradient(rgba(255, 255, 255, 0.007) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.007) 2px, transparent 1px), linear-gradient(rgba(255, 255, 255, 0.007) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.007) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
html body .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
html body .container .profile {
  display: flex;
  gap: 50px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
html body .container .profile .card {
  width: 300px;
  padding: 20px;
  transition: 0.5s;
  position: relative;
}
html body .container .profile .card .card-title {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: bold;
  margin: 0 0 10px;
  color: #e6e6ef;
}
html body .container .profile .card .card-tag {
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  background-color: rgba(13, 17, 23, 0.431372549);
  border: 1px solid rgba(156, 156, 156, 0.466);
  font-family: "Montserrat";
  padding: 4px;
  margin-block-end: 12px;
  color: #dcdcdc;
}
html body .container .profile .card .card-bg {
  border: 1px solid #272727;
  border-radius: 10px;
  background-color: #222222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: 0.5s;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
html body .container .profile .card .card-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(50px);
  transition: 0.2s;
  z-index: -1;
  opacity: 0.1;
  bottom: 0px;
  left: 0;
  background: linear-gradient(to right, #7f43ff 10%, #00ddfa 50%, #7f43ff 90%);
  background-size: 500% auto;
  animation: textShine 10s ease-in-out infinite alternate;
}
html body .container .profile .card .card-fg {
  border: 1px solid rgba(156, 156, 156, 0.466);
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(0px);
  transition: 0.2s;
  position: absolute;
  transition: 0.5s;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
html body .container .profile .card .portrait-container {
  display: flex;
  justify-content: center;
}
html body .container .profile .card .portrait-container .portrait {
  border-radius: 10px;
  width: 100%;
  transition: 0.5s;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
html body .container .profile .card .mac-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}
html body .container .profile .card .mac-header span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
html body .container .profile .card .mac-header .red {
  background-color: #ff5f57;
}
html body .container .profile .card .mac-header .yellow {
  background-color: #ffbd2e;
}
html body .container .profile .card .mac-header .green {
  background-color: #28c941;
}
html body .container .profile .card .social-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-top: 15px;
  justify-content: space-around;
}
html body .container .profile .card .social-buttons a {
  text-decoration: none;
  color: rgb(163, 163, 163);
  font-family: "Hanken Grotesk";
  padding: 8px 30px;
  border-radius: 10px;
  border: 1px solid rgba(156, 156, 156, 0.466);
  transition: 0.2s;
}
html body .container .profile .card .social-buttons a .logo {
  width: 15px;
  margin-top: 3px;
  filter: invert(1);
}
html body .container .profile .card .social-buttons a:hover {
  border-color: rgba(156, 156, 156, 0.849);
  box-shadow: 0 0px 12px rgba(255, 255, 255, 0.205);
}
html body .container .profile .card:hover {
  scale: 1.05;
}
html body .container .profile .card:hover .card-bg {
  transform: rotate(-10deg);
  transform-origin: bottom;
}
html body .container .profile .card:hover .card-bg::after {
  opacity: 0;
}
html body .container .profile .card:hover .card-fg {
  background-color: rgba(156, 156, 156, 0.123);
  backdrop-filter: blur(4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
html body .container .profile .text {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  width: 800px;
}
html body .container .profile .text .title {
  font-weight: 800;
  font-size: 55px;
  margin-left: 50px;
  color: rgba(240, 240, 240, 0.768627451);
}
html body .container .profile .text .title b {
  font-weight: 900;
  background: linear-gradient(to right, #7f43ff 10%, #00ddfa 50%, #7f43ff 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 10s ease-in-out infinite alternate;
  position: relative;
  z-index: 1;
}
html body .container .profile .text .title b::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(50px);
  z-index: -1;
  opacity: 0.4;
  bottom: 0px;
  left: 0;
  background: linear-gradient(to right, #7f43ff 10%, #00ddfa 50%, #7f43ff 90%);
  background-size: 500% auto;
  animation: textShine 10s ease-in-out infinite alternate;
}
html body .container .profile .text .description {
  margin-top: 20px;
  font-size: 20px;
  width: 600px;
  line-height: 30px;
  font-weight: 300;
  margin-left: 50px;
}
html body .container .profile .text .description a {
  font-weight: 600;
  padding: 1px 5px;
  margin: 0px 5px;
  text-decoration: none;
  transition: 0.2s;
}
html body .container .profile .text .description a:hover {
  padding: 1px 10px;
  margin: 0px 0px;
}
html body .container .profile .text .description .blue {
  background-color: rgba(0, 158, 250, 0.1725490196);
  color: #2cb2ff;
}
html body .container .profile .text .description .yellow {
  background-color: rgba(250, 192, 0, 0.1725490196);
  color: #ffce2c;
}
html body .container .profile .text .description .purple {
  background-color: rgba(75, 0, 250, 0.1725490196);
  color: #8747ff;
}
html body .container .profile .text .status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.137);
  transition: 2s;
  margin-left: 50px;
  margin-top: 20px;
  width: 100px;
}
html body .container .profile .text .status span {
  font-size: 12px;
  color: #69ffa8;
}
html body .container .profile .text .status .impulse {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #69ffa8;
  margin-right: 7px;
  animation: 1.5s pulse infinite ease-in-out;
}
html body .container .profile .text .status:hover {
  border-color: rgba(105, 255, 168, 0.2274509804);
}
html body .container .profile .text .tw {
  margin-left: 53px;
  margin-bottom: 20px;
}
html body .container .profile .text .tw .typewriter {
  font-family: "Hanken Grotesk";
  position: relative;
  border-radius: 30px;
  padding: 5px 25px 5px 20px;
  border: 1px solid rgba(255, 255, 255, 0.137);
  background-color: rgba(255, 255, 255, 0.041);
  font-size: 13px;
}
html body .container .profile .text .tw .typewriter::after {
  content: "";
  width: 2px;
  height: 13px;
  position: absolute;
  right: 21px;
  top: 7px;
  background: linear-gradient(to right, #7f43ff 10%, #00ddfa 50%, #7f43ff 90%);
  background-size: 500% auto;
  animation: typewriter 0.4s infinite alternate, textShine 10s ease-in-out infinite alternate;
}
html body .container .skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
html body .container .skills .up-title {
  font-family: "Hanken Grotesk";
  position: relative;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.0392156863);
  color: #c5c5c5;
  padding: 5px 40px;
  font-size: 13px;
}
html body .container .skills .title {
  font-family: "Hanken Grotesk";
  font-weight: 900;
  font-size: 30px;
  color: rgba(240, 240, 240, 0.768627451);
}
html body .container .skills .subtitle {
  font-weight: 200;
  width: 350px;
  font-size: 14px;
  font-family: "Montserrat";
  text-align: center;
}
html body .container .skills .skills-container {
  display: flex;
  gap: 60px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
html body .container .skills .skills-container .skill {
  width: 320px;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}
html body .container .skills .skills-container .skill .card-bg {
  border: 1px solid #272727;
  border-radius: 10px;
  background-color: #222222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: 0.5s;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
html body .container .skills .skills-container .skill .card-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(50px);
  transition: 0.2s;
  z-index: -1;
  opacity: 0.1;
  bottom: 0px;
  left: 0;
  background: linear-gradient(to right, #7f43ff 10%, #00ddfa 50%, #7f43ff 90%);
  background-size: 500% auto;
  animation: textShine 10s ease-in-out infinite alternate;
}
html body .container .skills .skills-container .skill .card-fg {
  border: 1px solid rgba(156, 156, 156, 0.466);
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(0px);
  transition: 0.2s;
  position: absolute;
  transition: 0.5s;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
html body .container .skills .skills-container .skill .app {
  width: 40px;
  padding: 10px;
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.068);
  border-radius: 10px;
  transition: 0.2s;
}
html body .container .skills .skills-container .skill .title {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 900;
  font-family: "Hanken Grotesk";
}
html body .container .skills .skills-container .skill p {
  width: 250px;
  height: 50px;
  font-weight: 300;
  margin-top: 10px;
  font-size: 13px;
  font-family: "Montserrat";
}
html body .container .skills .skills-container .skill .tools {
  margin-top: 50px;
  border-top: 1px solid rgba(228, 228, 228, 0.2196078431);
  padding-top: 20px;
  display: flex;
  height: 65px;
  flex-wrap: wrap;
  gap: 10px;
}
html body .container .skills .skills-container .skill .tools .slot {
  font-family: "Hanken Grotesk";
  position: relative;
  border-radius: 30px;
  padding: 5px 15px;
  border: 1px solid rgba(255, 255, 255, 0.137);
  background-color: rgba(255, 255, 255, 0.041);
  font-size: 13px;
  display: flex;
  height: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(240, 240, 240, 0.768627451);
  text-decoration: none;
  transition: 0.2s;
}
html body .container .skills .skills-container .skill .tools .slot:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
html body .container .skills .skills-container .skill .tools .slot .logo {
  width: 15px;
  margin-right: 10px;
}
html body .container .skills .skills-container .skill .tools .slot .name {
  font-size: 12px;
  margin-top: 0px;
}
html body .container .skills .skills-container .skill:hover {
  scale: 1.05;
}
html body .container .skills .skills-container .skill:hover .app {
  scale: 1.1;
}
html body .container .skills .skills-container .skill:hover .card-bg {
  transform: rotate(-5deg);
}
html body .container .skills .skills-container .skill:hover .card-bg::after {
  opacity: 0;
}
html body .container .skills .skills-container .skill:hover .card-fg {
  background-color: rgba(156, 156, 156, 0.123);
  backdrop-filter: blur(4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
html body .container .projects {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 120vh;
  justify-content: center;
  align-items: center;
}
html body .container .projects .up-title {
  font-family: "Hanken Grotesk";
  position: relative;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.0392156863);
  color: #c5c5c5;
  padding: 5px 40px;
  font-size: 13px;
}
html body .container .projects .title {
  font-family: "Hanken Grotesk";
  font-weight: 900;
  font-size: 30px;
  color: rgba(240, 240, 240, 0.768627451);
}
html body .container .projects .subtitle {
  font-weight: 200;
  width: 350px;
  font-size: 14px;
  font-family: "Montserrat";
  text-align: center;
}
html body .container .projects .project-container {
  display: flex;
  gap: 60px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
html body .container .projects .project-container .project {
  width: 300px;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}
html body .container .projects .project-container .project .card-bg {
  border: 1px solid #272727;
  border-radius: 10px;
  background-color: #222222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: 0.5s;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
html body .container .projects .project-container .project .card-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(50px);
  transition: 0.2s;
  z-index: -1;
  opacity: 0.1;
  bottom: 0px;
  left: 0;
  background: linear-gradient(to right, #7f43ff 10%, #00ddfa 50%, #7f43ff 90%);
  background-size: 500% auto;
  animation: textShine 10s ease-in-out infinite alternate;
}
html body .container .projects .project-container .project .card-fg {
  border: 1px solid rgba(156, 156, 156, 0.466);
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(0px);
  transition: 0.2s;
  position: absolute;
  transition: 0.5s;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
html body .container .projects .project-container .project .app {
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.068);
  border-radius: 10px;
  transition: 0.2s;
  height: 130px;
  object-fit: cover;
}
html body .container .projects .project-container .project .title {
  font-size: 26px;
  font-weight: 900;
  font-family: "Hanken Grotesk";
}
html body .container .projects .project-container .project p {
  height: 50px;
  font-weight: 300;
  margin-top: 10px;
  font-size: 13px;
  font-family: "Montserrat";
}
html body .container .projects .project-container .project p a {
  font-weight: 600;
  padding: 1px 5px;
  margin: 0px 5px;
  text-decoration: none;
  transition: 0.2s;
}
html body .container .projects .project-container .project p a:hover {
  padding: 1px 10px;
  margin: 0px 0px;
}
html body .container .projects .project-container .project p .blue {
  background-color: rgba(0, 158, 250, 0.1725490196);
  color: #2cb2ff;
}
html body .container .projects .project-container .project p .yellow {
  background-color: rgba(250, 192, 0, 0.1725490196);
  color: #ffce2c;
}
html body .container .projects .project-container .project p .purple {
  background-color: rgba(75, 0, 250, 0.1725490196);
  color: #8747ff;
}
html body .container .projects .project-container .project .button {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin-top: 10px;
}
html body .container .projects .project-container .project .button a {
  text-decoration: none;
  color: rgba(240, 240, 240, 0.768627451);
  font-family: "Hanken Grotesk";
  font-size: 12px;
  padding: 5px 20px;
  border: 1px solid rgba(156, 156, 156, 0.466);
  border-radius: 5px;
  transition: 0.2s;
}
html body .container .projects .project-container .project .button a:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
html body .container .projects .project-container .project .tags {
  margin-top: 15px;
}
html body .container .projects .project-container .project .card-tag {
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  background-color: rgba(13, 17, 23, 0.431372549);
  border: 1px solid rgba(156, 156, 156, 0.466);
  font-family: "Montserrat";
  padding: 4px;
  margin-block-end: 12px;
  color: #dcdcdc;
}
html body .container .projects .project-container .project:hover {
  scale: 1.05;
}
html body .container .projects .project-container .project:hover .app {
  scale: 1.05;
}
html body .container .projects .project-container .project:hover .card-bg {
  transform: rotate(-5deg);
}
html body .container .projects .project-container .project:hover .card-bg::after {
  opacity: 0;
}
html body .container .projects .project-container .project:hover .card-fg {
  background-color: rgba(156, 156, 156, 0.123);
  backdrop-filter: blur(4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
html body .container .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(29, 29, 29, 0.3137254902);
}

.copyright {
  font-family: "Hanken Grotesk";
  color: rgba(255, 255, 255, 0.116);
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  font-weight: 200;
  left: calc(50% - 150px);
  font-size: 15px;
  transition: 0.2s;
}

.message {
  font-family: "Hanken Grotesk";
  color: rgba(255, 255, 255, 0.377);
  width: 300px;
  text-align: center;
  font-weight: 200;
  left: calc(50% - 150px);
  font-size: 15px;
  transition: 0.2s;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #69ffa8;
  }
  100% {
    box-shadow: 0 0 0 6px rgba(105, 255, 168, 0);
  }
}
@keyframes typewriter {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 80rem) {
  .container .profile {
    flex-direction: column;
  }
  .container .profile .card {
    width: 250px !important;
    margin-top: -30px;
  }
  .container .profile .card .portrait {
    width: 150px !important;
    object-fit: contain;
  }
  .container .profile .text {
    align-items: center;
    width: 450px !important;
  }
  .container .profile .text .tw {
    margin-left: 0 !important;
  }
  .container .profile .text .title {
    font-size: 30px !important;
    width: 450px;
    text-align: center;
    margin-left: 0 !important;
  }
  .container .profile .text .description {
    text-align: justify;
    font-size: 15px !important;
    line-height: 20px !important;
    width: 350px !important;
    margin-left: 0 !important;
  }
  .container .profile .status {
    margin-left: 0px !important;
  }
  .container .skills {
    height: 210vh !important;
  }
  .container .skills .skills-container {
    flex-direction: column !important;
    width: 370px !important;
  }
  .container .projects {
    height: 310vh !important;
  }
  .container .projects .project-container {
    flex-direction: column !important;
    width: 370px !important;
  }
}

/*# sourceMappingURL=style-min.css.map */
